{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <main class="main">
        <div id="logreg-forms" style="margin: 13% auto 13% !important; background: none; box-shadow: none;">
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                <div class="mr-5 mt-6" style="text-align: center">
                    <h4>{% trans 'Çıkış yapmak istediğinize emin misiniz?' %}</h4>
                    <button type="submit" class="btn btn-primary">{% trans 'ÇIKIŞ YAP' %}</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}