{% load allTags %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="{{ lang }}" data-bs-theme="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ site_settings.favicon.url }}">
    <title>{{ site_settings.text }}</title>
    <link rel="stylesheet" href="{% static "assets/css/bundle.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/app.css" %}?v=4">
    <style>
        .tyn-reply-text a {
            color: black !important;
            text-decoration: underline;
        }

        .tyn-reply-text a:hover {
            text-decoration: none;
        }
    </style>

</head>

<body class="tyn-body">
<div class="tyn-root">

    {% block header %}
        {% include 'ai/partials/header.html' %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
        {% include 'ai/partials/footer.html' %}
    {% endblock %}

</div>

<script src="{% static "assets/js/bundle.js" %}"></script>
<script src="{% static "assets/js/app.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>


</body>

</html>