Django==4.2.10
django-allauth
django-crispy-forms==1.14.0
django-ckeditor==6.2.0
django-cors-headers==3.11.0
django-modeltranslation==0.17.5
django-mptt==0.13.4
django-hosts==5.2
django-robots==4.0
django-currentuser==0.5.3

jwt
whitenoise==6.0.0
Pillow==10.1.0
Collectfast==2.2.0

django-rosetta==0.9.4
Pillow==10.4.0
transformers==4.12.0
sentencepiece==0.1.96
torch==1.10.0
tensorflow==2.7.0
